#userInputDiv{
    display:flex;
    justify-content: center;
    width: 50%;
}

td, th{
    padding: 15px 5px !important;
    display: table-cell !important;
    text-align: center !important;
    vertical-align: middle!important;
    border-radius: 2px !important;
}

h4 {
    display: inline-block !important;
}

#userInputDiv{
    text-align: center !important;
    vertical-align: middle!important;
    margin: auto !important;
}

.instructionParagraphs{
    max-width:60%;
    margin:auto;
}

.sliderTextTransparentBackground{
    background-color: rgba(0,0,205, 0.4);
}